<!--<form #form='ngForm' (ngSubmit)="submit(form)">-->
<!--  <input [class.error] = '!form.controls.name?.valid' [(ngModel)]="user.name" name="name" minlength="10">-->
<!--  <div *ngIf="!form.controls.name?.valid">-->
<!--    name must be 10 symbols at least-->
<!--  </div>-->
<!--  <input [(ngModel)]="user.age" name="age">-->
<!--  <button>send</button>-->
<!--</form>-->

<!--<form [formGroup]="myForm">-->
<!--  <input [formControl]="name">-->
<!--  <input [formControl]="age">-->
<!--  <button [disabled]="!myForm.valid">save</button>-->
<!--</form>-->


<app-users></app-users>
